/* css/style.css */

/* Body Background Color */
body {
   min-height: calc(100% + env(safe-area-inset-top));
   padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
   background-color: var(--bs-body-bg);
 }
 
 #offcanvas {
   padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
 }

/* Hover-Effekt für Karten */
.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.02);
    transition: 0.3s;
}

/* Anpassung der Symbole */
.card-body .fas {
    color: #007bff; /* Primärfarbe für Icons */
}

/* Responsives Bild innerhalb der Karte */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Füge oberhalb der Navbar-Padding für die Dynamic Island hinzu */
.navbar.sticky-top,
.navbar.fixed-top {
  /* Fallback für ältere iOS */
  padding-top: constant(safe-area-inset-top);
  /* Standard für moderne Browser */
  padding-top: env(safe-area-inset-top);
  /* Gesamthöhe anpassen: 56px (Standard-Navbar-Höhe) + Safe-Area */
  height: calc(56px + env(safe-area-inset-top));
  /* Sicherstellen, dass der Content nicht darunter verschwindet */
  z-index: 1020;
}



/* Weitere Anpassungen nach Bedarf */
